#boxgroup1{
    display: flex;
}
.box1{
    background-color: rgb(228, 180, 91);
    width: 18%;
    height: 7em;
    margin: 0.5em;
    border: 2px solid black;
}
.box1 p{
    color: rgb(228, 180, 91);
}
.box2{
    background-color: rgb(255, 212, 133);
    width: 80%;
    height: 7em;
    margin: 0.5em;
    border: 2px solid black;
}
.box2{
    color: rgb(255, 212, 133);
}
#boxgroup2{
    display: flex;
}
.box3{
    background-color: rgb(238, 214, 173);
    width: 18%;
    height: 23em;
    margin: 0.5em;
    border: 2px solid black;    
}
.box3 p{
    color: rgb(238, 214, 173);
}
.box4{
    background-color: rgb(247, 239, 225);
    width: 61%;
    height: 23em;
    margin: 0.5em;
    border: 2px solid black;      
}
.box4 p{
    color: rgb(247, 239, 225);
}
.box5{
    background-color: rgb(179, 211, 253);
    width: 18%;
    height: 23em;
    margin: 0.5em;
    border: 2px solid black;  
}
.box5 p{
    color: rgb(179, 211, 253);
}
.box6{
    background-color: rgb(98, 131, 173);
    width: 98.5%;
    height: 7em;
    margin: 0.5em;
    border: 2px solid black;
}
.box6 p{
    color: rgb(98, 131, 173);
}