*{
    box-sizing: border-box;
}
h1{
    color: beige;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
#main{
    display: flex;
}
nav{
    background-color: skyblue;
    width: 18%;
    height: 41.3em;
}
header{
    background-color: paleturquoise;
    width: 100%;
    height: 7em;
}
footer{
    background-color: paleturquoise;
    width: 70em;
    height: 7em;
}
#isi{
    display: flex;
}
article{
    background-color: beige;
    width: 76%;
    height: 27.3em;
}
aside{
    background-color: rgb(218, 218, 165);
    width: 24%;
}