body{
    background-color: beige;
}
header{
    background-color: rgb(209, 200, 156);
    height: 4em;
    padding: 0.5em;
    text-align: center;
    margin: 1em;
}
#tengah{
    display: flex;
    margin: 1em;
}
aside{
    background-color: rgb(228, 203, 170);
    width: 22%;
    height: 27.4em;
    text-align: center;
    margin-right: 1em;
}
article{
    background-color: rgb(192, 136, 62);
    width: 78%;
    height: 16.4em;
    text-align: center;
    padding-top: 10em;
    padding-bottom: 1em;
}
article h1{
    color: white;
}
footer{
    background-color: rgb(209, 200, 156);
    height: 4em;
    padding: 0.5em;
    text-align: center;
    margin: 1em;
}
#photos img{
    width: 180px;
    height: 180px;
    margin-right: 4em;
    margin-left: 4em
}